<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "User Authentication Kata" %></h2>
  <p class="lead">User Authentication Kata<br />You don't get better, if you don't practice.</p>
</div>
